.container {
  height: 70px;
  width: 100%;
  font-weight: bolder;
  font-size: 20px;
  color: aliceblue;
  background-color: #132d5a;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 95%;
  align-items: center;
}

.user {
  margin-left: auto;
}

ul {
  display: flex;
}

.link {
  padding-left: 40px;
}

.button {
  background-color: #132d5a;
  border-style: none;
  color: rgb(131, 151, 172);
  font-size: 20px;
  font-weight: bolder;
}

.button:hover {
  cursor: pointer;
  color: aliceblue;
}

.logo {
  color: aliceblue;
}

a {
  color: rgb(131, 151, 172);
  text-decoration: none;
}

a:hover {
  color: aliceblue;
}
